body {
    background-color: rgb(255, 179, 38);
}

.my-nav {
    background-color: white;
    margin-bottom: 1%;
    align-items: center;
    padding: 1%;
    transition: all 0.75s ease;
    border-bottom: 3px solid transparent;
}

.my-nav:hover {
    background-color: rgb(8, 8, 180);
    border-bottom: 3px solid white;
}

.title-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-title {
    font-size: 3em;
    color: rgb(255, 179, 38);
    letter-spacing: 0.2em;
    font-family: 'Lobster', cursive;
    margin-left: 4%;
    margin-right: 2%;
    width: 200px;
    text-align: center;
}

.nav-subtitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    margin-top: 1%;
    color: white;
    width: 400px;
    justify-content: left;
}

.job-button {
    height: 70px;
    width: 200px;
    border-radius: 15px;
    border: 5px solid rgb(255, 179, 38);
    color: rgb(255, 179, 38);
    background-color: white;
    letter-spacing: 0.05em;
    font-size: 1.9em;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.5s ease;
}

.job-button:hover {
    background-color: rgb(255, 179, 38);
    color: white;
    border: 5px solid white;
}

.job-area {
    overflow: auto;
    height: 760px;
    justify-content: center;
    margin: 2%;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.empty-jobs {
    font-family: 'Rock Salt', cursive;
    size: 3em;
    text-align: center;
}

.job-row {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 98%;
    height: 100px;
    border: 5px solid rgb(255, 179, 38);
    border-radius: 6px;
    margin: 1%;
    align-items: center;
    justify-content: center;
    transition: all 0.40s ease;
}

.job-item {
    width: 18%;
    color: rgb(255, 179, 38);
}

.job-row:hover {
    background-color: rgb(8, 8, 180);;
}