body {
    background-color: rgb(255, 179, 38);
}

.my-nav {
    background-color: white;
    margin-bottom: 1%;
    align-items: center;
    padding: 1%;
    transition: all 0.75s ease;
    border-bottom: 3px solid transparent;
    color: rgb(255, 179, 38);
}

.my-nav:hover {

}

.title-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-title {
    font-size: 3em;
    letter-spacing: 0.2em;
    font-family: 'Lobster', cursive;
    margin-left: 4%;
    margin-right: 2%;
    width: 200px;
    text-align: center;
}

.nav-subtitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    margin-top: 1%;
    width: 400px;
    justify-content: left;
}

.search-form {
    border: 2px outset orange;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.form-input {
    border-radius: 5px;
    text-align: center;
}

.reset-button {
    border-radius: 5px;
    font-size: 1.3em;
    font-family: monospace;
    color: white;
    background-color: rgb(255, 179, 38);
}

.job-button {
    height: 70px;
    width: 200px;
    border-radius: 15px;
    border: 5px solid rgb(255, 179, 38);
    color: rgb(255, 179, 38);
    background-color: white;
    letter-spacing: 0.05em;
    font-size: 1.9em;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.5s ease;
}

.job-button:hover {
    background-color: rgb(255, 179, 38);
    color: white;
    border: 5px solid rgb(255, 179, 38);
}

.job-button-small {
    height: 50px;
    width: 150px;
    border-radius: 15px;
    border: 5px solid rgb(255, 179, 38);
    color: rgb(255, 179, 38);
    background-color: white;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
}

.modal-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
    margin: 0 auto;
    color: orange;
    text-decoration: underline;
    margin-left: 2%;
}

.input {
    width: 300px;
    height: 30px;
    margin: 1%;
    border-radius: 5px;
    text-align: center;
    color: silver;
}

.state-holder {
    width: 100%;
    height: 50px;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.state-title {
    font-size: 2em;
    letter-spacing: 0.0625em;
    width: 27.5%;
    height: 90%;
    color: white;
    border-left: 8px solid white;
    border-right: 8px solid white;
    margin-left: 3.5%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent;
}

.state-item {
    font-size: 2em;
    letter-spacing: 0.0625em;
    width: 9.5%;
    height: 90%;
    color: white;
    border-right: 8px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent;
}

.state-note {
    font-size: 2em;
    letter-spacing: 0.0625em;
    width: 27.5%;
    height: 90%;
    color: white;
    border-right: 8px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent;
}

.state-followup {
    font-size: 2em;
    letter-spacing: 0.0625em;
    width: 18%;
    height: 90%;
    color: white;
    border-right: 8px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent;
}

.job-area {
    overflow: auto;
    height: 700px;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.empty-jobs {
    font-family: 'Rock Salt', cursive;
    size: 3em;
    text-align: center;
}

.job-row {
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 100px;
    margin: 2%;
    align-items: center;
    transition: all 0.40s ease;
    background-color: darkgray;
    color: white;
    border-radius: 5px;
    border: 4px solid black;
}

.job-item {
    font-size: 1.0em;
    letter-spacing: 0.0625em;
    width: 10%;
    height: 90%;
    border: 4px solid white;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-notes {
    font-size: 0.8em;
    letter-spacing: 0.0625em;
    width: 30%;
    height: 90%;
    border: 4px solid white;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-title {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    width: 30%;
    height: 90%;
    color: white;
    border: 4px solid white;
    border-left: 8px solid white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0.5%;
}

.job-end {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    width: 15%;
    height: 90%;
    border: 4px solid white;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-row {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    margin-right: 0.5%;
    width: 5%;
    height: 90%;
    border: 4px solid white;
    border-right: 8px solid white;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-button {
    height: 100%;
    width: 100%;
    font-size: 2em;
    color: white;
    background-color: red;
    font-family: 'Bebas Neue', cursive;
}
